*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --gris: #747474;
    --color2: #F6F4F8;
    --turquesa: #18AC9C;
    --azul: #00467B;
}
body{
    height: 100vh;
    width: 100vw;
    font-family: 'Inter', sans-serif;
}
main{
    display: flex;
    height: 100%;
}

article{
    width: calc(100% - 344px);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    background-color: #E5E4E2;
}


.elegir{
    width: 14rem;
    height: 17rem;
    background-color: var(--color2);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    align-items: center;
    border-radius: 50px;
    border-width: 10rem;
    border-color: #0B6FA4;
    color: #0B6FA4;
    border: solid;
    border: .5rem solid;
}
.hola{
    font-weight: 800;
    color: var(--turquesa);
    font-style: bold;
    font-size: 58px;
    margin-left: 3rem;
}
.preg{
    font-weight: 400;
    color: var(--turquesa);
    width: 891px;
    height: 70px;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    gap: .8rem;
}
.bot{
    
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 30px;

}
.luna{
    font-style: normal;
    font-size: 58px;
    font-weight: 400;
}
.txt{
    font-weight: 700;
    font-style: bold;
    text-align: center;
    font-size: 1.8rem;
}
.b2{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.elegir:hover{
    padding-bottom: 1rem;
}
.fotito{
    width: 100px;
    height: 100px;
}