*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
}

header{
    width: 100%;
    height: 10rem;
    background-color: #00477B;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    
}


.registrarse{
    width: 21rem;
    height: 5.8rem;  
    border-radius: 30px;
    background-color: #18AC9C;
      }

.regis{
        color: #FFFFFF;
    }

.iniciar{
    background-color: #0964A1;
    width: 21rem;
    height: 5.8rem;   
    border-radius: 30px;
  }
    .sesion{
        color: #FFFFFF;
        }
 

 main{
    width: 100%;
    height: calc( 100% - 160px );
    display: flex;
 }
.izq{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    
}
.probar{
    width: 21rem;
    height: 5.8rem;
    background-color: #0964A1;
    color: #FFFFFF;
    border-radius: 30px;
}
.vermas{
    width: 21rem;
    height: 5.85rem;
    border-radius: 30px;
    border-color: #18AC9C;
    border-width: 4px;
    color: #18AC9C;
    border: solid;
}
.lt{
   font-size: 2rem;
   font-weight: 400px;
   font-style: regular;
   font-family: 'Inter',sans-serif;
   display: flex;
   justify-content: center;
   align-items: center;
}
.der{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.titulo{
    height: 100%;
    width: 100%;  
   
  }
  .foto{
     height: 8rem;
    width: 50.06rem;  
  }
.txt{
    font-family: 'Inter', sans-serif;
    font-weight: 400px;
    font-size: 1.5rem;
    font-style: regular;
    width: 51.18rem;
    height: 6.12rem;
    
    
}
.logo{
    width: 22rem;
    height: 20rem;
  
}
.botones-abajo{
    height: 30%;
    width: 100%;
    display: flex;
    
    justify-content: center;
    align-items: center;
    
    

}
.acomodar1{
    display: flex;
    width: 80%;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 2.68rem;
    margin-left: 2.68rem;
}
.acomodar2{
    width: 50%;
    height: 100%;
}
.grupo1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 3rem;
    text-align: left;

margin-left: 10rem;
}
button{
    width: 21rem;
    height: 5.8rem;
}
.botones{
    margin-right: 2rem;
    gap: 2rem;
    display: flex;
}

.boton:hover{
    background-color: #67aadb;
}
.registrarse:hover{
    background-color: #43d1c3;

}
.vermas:hover{
    background-color: rgba(240, 248, 255, 0.606);
}