*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 160px;
    background-color: #00477B;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 10px;
    
}

.registrarse{
    width: 285px;
    height: 93px;  
    border-radius: 30px;
    background-color: #18AC9C;
}


.desplegable{
    font-weight: 58px;
    height: 49px;
    margin: 20px;
    padding: 22x;
}

.iniciar{
    background-color: #0964A1;
    width: 285px;
    height: 93px;   
    border-radius: 30px;
}
#sesion{
color: #FFFFFF;
}

.regis{
    color: #FFFFFF;
}
