*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 160px;
    background-color: #00477B;
}

.botones{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    align-items: center;
    margin-bottom: 1000px;
}
.desplegable{
    font-weight: 58px;
    height: 49px;
    margin: 20px;
    padding: 22x;
}

.iniciar{
    background-color: #0964A1;
    width: 285px;
    height: 93px;   
    top: 33px;
    left: 813px;
}
#sesion{
color: #FFFFFF;
}
.registrarse{
    background-color: #18AC9C;
}
#regis{
    color: #FFFFFF;
}
