*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --gris: #747474;
    --color2: #F6F4F8;
    --turquesa: #18AC9C;
    --azul: #00467B;
}
body{
    height: 100vh;
    width: 100vw;
    font-family: 'Inter', sans-serif;
}
main{
    display: flex;
    height: 100%;
}
.logo{
    width: 298px;
    height: 74.3px;
}
.tit-logo{
    width: 298px;
    height: 74.3px;
}
.opcion{
    display: flex;
    align-items: center;
    width: 282px;
    height: 60px;
    gap: 1rem;
    border-radius: 1.875rem;
    padding-left: 1rem;
}



.opcion:hover{
    background-color: var(--turquesa);
}
.estoy{
    background-color: var(--turquesa);
    color: white;
}
.l1{
    width: 32px;
    height: 31px;
}
article{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 344px;
    height: 100%;   
    align-items: center; 
    color: var(--gris);
  padding: 20px;
  border-right: 1px solid #ccc;
  background-color: #F7F7F7;
}
.a2{
    width: 282px;
    height: 24rem;
    display: flex;
    flex-direction: column;
   
}
aside{
    width: calc(100% - 344px);
    height: 100%;
    
}


.elegir{
    width: 16rem;
    height: 19rem;
    background-color: var(--color2);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    align-items: center;
    border-radius: 50px;
    border-width: 10px;
    border-color: var(--turquesa);
    color: var(--turquesa);
    border: solid;
}
.hola{
    font-weight: 800;
    color: var(--azul);
    font-style: bold;
    font-size: 58px;
    margin-left: 3rem;
}
.preg{
    font-weight: 400;
    color: var(--azul);
    width: 891px;
    height: 70px;
    font-size: 2rem;
    display: flex;
    justify-content: center;
}
.bot{
    
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 30px;

}
.luna{
    font-style: normal;
    font-size: 58px;
    font-weight: 400;
}
.txt{
    font-weight: 700;
    font-style: bold;
    text-align: center;
    font-size: 2.3rem;
}