*{
    padding: 0;
    margin: 0;
    box-sizing: center;
}
:root{
    --gris: #747474;
    --color2: #F6F4F8;
    --turquesa: #18AC9C;
    --azul: #00467B;
}
body{
    height: 100vh;
    width: 100vw;
    font-family: 'Inter', sans-serif;
}
main{
    display: flex;
    height: 100%;
}
aside{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 344px;
    height: 100%;   
    align-items: center; 
    color: var(--gris);
  padding: 20px;
  border-right: 1px solid #ccc;
  background-color: #F7F7F7;
  
}
.tit-logo{
    height: 4.6rem;
    width: 18.6rem;
}

.opcion{
    display: flex;
    align-items: center;
    width: 282px;
    height: 60px;
    gap: 1rem;
    border-radius: 1.5rem;
}

.l1{
  color: #747474;
}
.logo{
    height: 4.6rem;
    
    width: 18.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -4rem;
}
.barra-medio{

        width: 100%;
        height: 14.1rem;
        display: flex;
        flex-direction: column;
       justify-content: center;
       align-items: center;
       
    
}
.barra-abajo{
    
    height: 5.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.medio{
    display: flex;
    justify-content: center;
}
.dos{
    margin-left: -1rem;
}
input{
    height: 6.25rem;
    width: 46.75rem;
    border-radius: 1.5rem;
}
.nombres{
    height: 5.6rem;
    width: 46.75rem;
    border-radius: 25px;
    border: 2px solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: 2rem;
}
.abajo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.juan{
    margin-left: 1rem;
}
.flecha{
    margin-right: 1rem;
}

.tit{
    font-size: 3rem;
    font-weight: 400;
    font-style: normal;

}
.Historial{
    background-color: var(--turquesa);
}

