*{
    padding: 0;
    margin: 0;
    box-sizing: center;
}
aside{
    height: 100%;
    width: 21.5rem;
}
.tit-logo{
    height: 2.75rem;
    width: 12.25rem;
}
.opcion{
    justify-content: center;
    display: flex;
}
.l1{
  color: #747474;
}