*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main{
    height: 100%;
    width: 100%;
}
.bot-agregar{
    background-color: #18AC9C;
}
.article{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
    
    height: 100%;
    width: 100%;
}
.btn-eliminar {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: #d33;
    transition: transform 0.2s;
  }
  .btn-eliminar:hover {
    transform: scale(1.2);
  }
  