*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main{
    height: 100%;
    width: 100%;
}
.bot-agregar{
    background-color: #18AC9C;
}
.article{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
    
    height: 100%;
    width: 100%;
}
