*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
button{
 width: 24.22rem;
 height: 5.62rem;   
 border-radius: 1.56rem;
 display: flex;
 justify-content: center;
 gap: .5rem;
 align-items: center;
}
.aplicado{
    display: flex;
    justify-content: center;
    align-items: center;
}
.azul{
    color: #00487B;
    font-size: 2rem;
}
.vector{
    width: 33px;
    height: 32px;
}
.tipo{
    width: 16.68rem;
    height: 1.43rem;
    display: flex;
    gap: 5rem;
    margin-left: 3.5rem;
}
.abajo{
    display: flex;
    gap: 5rem;
  
    justify-content: center;
    align-items: flex-start;
   
    height: 100%;
    width: 100%;
}


article{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    background-color: #E5E4E2;
}
h1{
font-size: 3rem;
}
.arriba{
text-align: center;
height: 20%;

width: 100%;
}
