#titulo {
    background-color: #00487b;
    width: 1440px;
    height: 160px;  
}

#calendario {
    margin-top: 100px;
    margin-left: 100px;
    width: 150px;
    height: 150px;
}
#icono_calendario {
    width: 75px;
    height: 75px;
}

#historial {
    margin-top: 100px;
    margin-left: 150px;
    width: 150px;
    height: 150px;
}
#icono_historial {
    width: 75px;
    height: 75px;
}

#familia {
    margin-top: 200px;
    margin-left: 100px;
    width: 150px;
    height: 150px;
}
#icono_familia {
    width: 75px;
    height: 75px;
}
#mapa {
    margin-top: 200px;
    margin-left: 150px;
    width: 150px;
    height: 150px;
}
#icono_mapa {
    width: 75px;
    height: 75px;
}