*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main{
  height: 100vh;
  width: 100vw;
  display: flex;
}

.mati{
  
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  font-size: 2rem;
}
article{
  height: 100%;
  width: 50rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  flex-direction: column;
}

.olv{
  color: black;
  font-size: x-large;
  font-weight: bold;
  font-family: 'Inter', sans-serif;
}
form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

input {
    
    width: 30rem;
    height: 5rem;
    border-radius: 25px;
  }

.enviar{
  width: 285px;
  height: 93px;
  border-radius: 30px;
  background-color: #0964A1;
  color: #FFFFFF;
  font-family: 'Inter', sans-serif;
  font-size: 36px;
}

aside{
  height: 100%;
  width: 35rem;
  background-color: #00487B;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  font-family: 'Inter', sans-serif;
  border-top-left-radius: 10rem;
  border-bottom-left-radius: 10rem;
}
.ing{
  width: 28rem;
  height: 8rem;
  font-family: 'Inter', sans-serif;
 
  text-align: center;
  display: flex;
  color: #FFFFFF;

}
.txt{
  font-size: 1.8rem;
  font-weight: medium;
}
.regis{
  height: 6rem;
  width: 20rem;
  border-color: #FFFFFF;
  border-width: 5px;
  border-radius: 2rem;
  color: #FFFFFF;
  background-color: #00487B;
  font-size: xx-large;
   }
.bien{
color: #FFFFFF;
}

.regis:hover{
  background-color: #5578ec;
}
.enviar:hover{
  background-color: #85a3ff;
}