*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main{
  height: 100vh;
  width: 100vw;
  display: flex;
}

var{
  
  font-family: 'Inter', sans-serif;
  font-weight: 400px;
  font-size: 2rem;
}
article{
  height: 100%;
  width: 50rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-direction: column;
}

input {
    
    width: 22rem;
    height: 8rem;
    border-radius: 25px;
  }

.enviar{
  width: 285px;
  height: 93px;
  border-radius: 30px;
  background-color: #0964A1;
  color: #FFFFFF;
  font-family: 'inter', sans-serif;
  font-size: 36px;
}

aside{
  height: 100%;
  width: 50rem;
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'inter', sans-serif;
}
.ing{
  width: 10rem;
  height: 2rem;
  font-family: 'Inter', sans-serif;
  font-size: 2rem;
  text-align: center;
  display: flex;
}