*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background: #f3f3f3;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
  }
article{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}
  .paciente {
    background: white;
    border-radius: 10px;
    padding: 10px;
    margin: 5px 0;
    width: 300px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }

  button {
    background: #0B6FA4;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 15px;
  }

  button:hover {
    background: #094f74;
  }
  .paciente {
    background: white;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 25px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    width: 747px;
    height: 90px;
    border: solid 3px black;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .flechaTarjeta{
    
    background: transparent;   /* Sin fondo */
    border: none;              /* Sin borde */
    color: black;              /* Texto y flecha en negro */
    font-size: 2.25rem;         /* Tamaño de la flecha y texto */
    cursor: pointer;           /* Cursor de mano */
    /* Sin padding si querés */
    margin: 1rem;
  }

  
  .nombreTarjeta{
margin: 1rem;
font-size: 2.25rem;
  }

  .tit{
    font-weight: 400;
    font-size: 3rem;
  }

  .input-filtro{
    width: 748px;
    height: 100px;
    border: solid 3px black;
    border-radius: 25px;
  }