*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --gris: #747474;
    --color2: #F6F4F8;
    --turquesa: #18AC9C;
    --azul: #00467B;
}
body{
    height: 100vh;
    width: 100vw;
    font-family: 'Inter', sans-serif;
}
main{
    display: flex;
    height: 100%;
}
.logo{
    width: 298px;
    height: 74.3px;
}
.tit-logo{
    width: 298px;
    height: 74.3px;
}
.opcion{
    display: flex;
    align-items: center;
    width: 282px;
    height: 60px;
    gap: 1rem;
    border-radius: 1.875rem;
    padding-left: 1rem;
}



.opcion:hover{
    background-color: var(--turquesa);
    color: white;
}
.estoy{
    background-color: var(--turquesa);
    color: white;
}
.l1{
    width: 32px;
    height: 31px;
}
aside{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 344px;
    height: 100%;   
    align-items: center; 
    color: var(--gris);
  padding: 20px;
  border-right: 1px solid #ccc;
  background-color: #F7F7F7;
}
.a2{
    width: 282px;
    height: 24rem;
    display: flex;
    flex-direction: column;
   
}