*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
 
    background-color: #E5E4E2;
    display: flex;
    width: 100vw;
    height: 100vh;
  }
  
  header {
    display: flex;
    flex-direction: column;
    gap: 10px;
    
  }

  
  button {
    
    cursor: pointer;
  }
  
  .paciente {
    background: white;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 25px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    width: 747px;
    height: 90px;
    border: solid 3px black;
  }
  
  .form-section {
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    width: 500px;
    height: 15rem;

    /* NUEVO */
    position: fixed;      /* lo saca del flujo normal y se "pega" a la pantalla */
              /* lo centra horizontalmente */
     /* corrige el centrado exacto */
     
       /* para que quede encima de otros elementos */
       display: flex;
       justify-content: center;
       align-items: center;
  }

  .form-section.oculto {
    display: none;
  }
  
  
 
  
  form input {
    width: 100%;
    
  }
  .tit-agregar{
    font-weight: 400;
    font-size: 3rem;
  }
  .bot-agregar{
    width: 336px;
    height: 94px;
    color: white;
    background-color: #0B6FA4;
    font-weight: 700;
    font-size: 2rem;
    border-radius: 30px;
  }
  .input-filtro{
    width: 748px;
    height: 100px;
    border: solid 3px black;
    border-radius: 25px;
  }
  article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 2rem;
  }