*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
 
    background-color: #E5E4E2;
    display: flex;
    width: 100vw;
    height: 100vh;
  }
  main{
    height: 100%;
    width: 100%;
}

  header {
    display: flex;
    flex-direction: column;
    gap: 10px;
    
  }

  
  button {
    
    cursor: pointer;
  }
  
  .paciente {
    background: white;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 25px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    width: 747px;
    height: 90px;
    border: solid 3px black;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .flechaTarjeta{
    
    background: transparent;   /* Sin fondo */
    border: none;              /* Sin borde */
    color: black;              /* Texto y flecha en negro */
    font-size: 2.25rem;         /* Tamaño de la flecha y texto */
    cursor: pointer;           /* Cursor de mano */
    /* Sin padding si querés */
    margin: 1rem;
  }

  
  .nombreTarjeta{
margin: 1rem;
font-size: 2.25rem;
  }
  .form-section {
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    width: 500px;
    height: 15rem;

    /* NUEVO */
    position: fixed;      /* lo saca del flujo normal y se "pega" a la pantalla */
              /* lo centra horizontalmente */
     /* corrige el centrado exacto */
     
       /* para que quede encima de otros elementos */
       display: flex;
       justify-content: center;
       align-items: center;
       
  }

  .form-section.oculto {
    display: none;
  }
  
  
 
  
  form input {
    width: 100%;
    
  }
  .tit-agregar{
    font-weight: 400;
    font-size: 3rem;
  }
  .bot-agregar{
    width: 336px;
    height: 94px;
    color: white;
    background-color: #0B6FA4;
    font-weight: 700;
    font-size: 2rem;
    border-radius: 30px;
  }
  .input-filtro{
    width: 748px;
    height: 100px;
    border: solid 3px black;
    border-radius: 25px;
  }

  main{
    width: 100%;
    height: 100%;
  }
  article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 2rem;
  }
  .form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .inputcosa{
    width: 15rem;
    height: 2rem;
  }
  .preg{
    display: flex;
    flex-direction: column;
  }
  .boton-form{
    width: 8rem;
    background-color: #0B6FA4;
    height: 4rem;
    color: white;
    border: solid white .5rem;
  }
  .botones-form{
    display: flex;
  }

  .paciente-container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }